<% include ./partials/header %>
	<!--main-container-part-->

<!--Action boxes-->
  <div class="container-fluid">
    <div class="quick-actions_homepage">
      <ul class="quick-actions">
        <li class="bg_lb"> <a href="index.html"> <i class="icon-dashboard"></i>  My Dashboard </a> </li>
        <li class="bg_lo"> <a href="tables.html"> <i class="icon-th"></i> Jadwal</a> </li>

      </ul>
    </div>
<!--End-Action boxes-->    


    <hr/>
    <div class="row-fluid">
      <div class="span6">
        <div class="widget-box">
          <div class="widget-title bg_ly" data-toggle="collapse" href="#collapseG2"><span class="icon"><i class="icon-chevron-down"></i></span>
            <h5>Ulasan Terbaru</h5>
          </div>
          <div class="widget-content nopadding collapse in" id="collapseG2">
            <ul class="recent-posts">
            <% 
            if((data.ulasan).length !== 0){ 
            (data.ulasan).forEach(function(ulasan){ %>
              <li>
                <div class="user-thumb"> <img width="40" height="40" alt="User" src="/img/avatar.png"> </div>
                <div class="article-post"> <span class="user-info"> By: <%= ulasan.nama_customer %>/ Date: <%= ulasan.created_at %> </span>
                  <p><a href="#"> <%= ulasan.ulasan %> </a> </p>
                </div>
              </li>
            <%  }); %> 
            <li>
                <button class="btn btn-warning btn-mini">View All</button>
              </li>
            <%}else{
                   %>
                    <p> Ulasan tidak ada </p>
            <% } %>  
              
            </ul>
          </div>
        </div>
        
        <!--
        <div class="widget-box">
          <div class="widget-title bg_lo"  data-toggle="collapse" href="#collapseG3" > <span class="icon"> <i class="icon-chevron-down"></i> </span>
            <h5>News updates</h5>
          </div>
          <div class="widget-content nopadding updates collapse in" id="collapseG3">
            <div class="new-update clearfix"><i class="icon-ok-sign"></i>
              <div class="update-done"><a title="" href="#"><strong>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</strong></a> <span>dolor sit amet, consectetur adipiscing eli</span> </div>
              <div class="update-date"><span class="update-day">20</span>jan</div>
            </div>
            <div class="new-update clearfix"> <i class="icon-gift"></i> <span class="update-notice"> <a title="" href="#"><strong>Congratulation Maruti, Happy Birthday </strong></a> <span>many many happy returns of the day</span> </span> <span class="update-date"><span class="update-day">11</span>jan</span> </div>
            <div class="new-update clearfix"> <i class="icon-move"></i> <span class="update-alert"> <a title="" href="#"><strong>Maruti is a Responsive Admin theme</strong></a> <span>But already everything was solved. It will ...</span> </span> <span class="update-date"><span class="update-day">07</span>Jan</span> </div>
            <div class="new-update clearfix"> <i class="icon-leaf"></i> <span class="update-done"> <a title="" href="#"><strong>Envato approved Maruti Admin template</strong></a> <span>i am very happy to approved by TF</span> </span> <span class="update-date"><span class="update-day">05</span>jan</span> </div>
            <div class="new-update clearfix"> <i class="icon-question-sign"></i> <span class="update-notice"> <a title="" href="#"><strong>I am alwayse here if you have any question</strong></a> <span>we glad that you choose our template</span> </span> <span class="update-date"><span class="update-day">01</span>jan</span> </div>
          </div>
        </div>
        !-->
      </div>
      <div class="span6">
 
        
         <div class="widget-box">
            <div class="widget-title"> <span class="icon"><i class="icon-ok"></i></span>
              <h5>Keahlian</h5>
              <a title="Tambah materi" href="#myAlert" data-toggle="modal" class="btn btn-success btn-mini" style="float:right;"><i class="icon-plus"></i> Tambah Keahlian</a>
            </div>
            <div class="widget-content">
              <div class="todo">
                <ul>
                  <% if((data.materi).length !== 0){ 
                    (data.materi).forEach(function (keahlian){ %>

                  
                  <li class="clearfix">
                    <div class="txt"> <%= keahlian.nama_materi %> </div>
                    <div class="pull-right"> <a class="tip" href="#" title="Delete"><i class="icon-remove"></i></a> </div>
                  </li>
                  <% });
                    }else{
                   %>
                    <p> Keahlian tidak ada </p>
                  <% } %>
                </ul>
              </div>
            </div>
        </div>
        <div class="widget-box">
            <div class="widget-title"> <span class="icon"><i class="icon-ok"></i></span>
              <h5>Lokasi Mengajar</h5>
              
            </div>
            <div class="widget-content">
              <div class="todo">
                <ul>
                  <% 
                      if((data.lokasi).length !== 0){
                      (data.lokasi).forEach(function (lokasi){ %>

                      
                      <li class="clearfix">
                        <div class="txt"> <%= lokasi.lokasi_mengajar %> </div>
                        <div class="pull-right"> <a class="tip" href="#" title="Update"><i class="icon-pencil"></i></a> </div>
                      </li>
                  <% });
                    }else{
                   %>
                    <a title="Tambah materi" href="#alamat" data-toggle="modal" class="btn btn-success btn-mini"><i class="icon-plus"></i> Tambah Alamat</a>
                  <% } %>  
                </ul>
              </div>
            </div>
        </div>
        <div class="widget-box">
            <div class="widget-title"> <span class="icon"><i class="icon-ok"></i></span>
              <h5>Tarif Mengajar</h5>
              
            </div>
            <div class="widget-content">
              <div class="todo">
                <ul>
                <% if((user.tarif_mengajar !== "")) { %>

                  <li class="clearfix">
                    <div class="txt"> Rp. <%= user.tarif_mengajar %> / Jam </div>
                    <div class="pull-right"> <a class="tip" href="#" title="Ubah"><i class="icon-pencil"></i></a> </div>
                  </li>
                <% } else { %>
                    <a title="Tambah Tarif" href="#myAlert" data-toggle="modal" class="btn btn-success btn-mini"><i class="icon-plus"></i> Tambah Tarif</a>
                <% } %>  
                </ul>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>

          <div id="myAlert" class="modal hide">
              <div class="modal-header">
                <button data-dismiss="modal" class="close" type="button">×</button>
                <h3>Tambah Keahlian</h3>
              </div>
              <div class="modal-body" style="overflow-y:visible;">
                  <form action="/pengajar/keahlian/add" method="post" class="form-horizontal">

                  <div class="control-group">
                    <label for="checkboxes" class="control-label">Nama Keahlian</label>
                    <div class="controls">
                      <select class="form-control" name="materi">
                        <% (data.all_materi).forEach(function (materi){ %>
                        <option value="<%= materi.id_materi %>"> <%= materi.nama_materi %> </option>
                        <% }); %>
                      </select>
                    </div>
                  </div>
                 

                  
                
              </div>
              <div class="modal-footer"><button type="submit" class="btn btn-success">Save</button> <a data-dismiss="modal" class="btn" href="#">Cancel</a> </div>
              </form>
            </div>

          <div id="alamat" class="modal hide">
              <div class="modal-header">
                <button data-dismiss="modal" class="close" type="button">×</button>
                <h3>Tambah Lokasi Mengajar</h3>
              </div>
              <div class="modal-body">
                  <form action="/pengajar/lokasi/add" method="post" class="form-horizontal">

                  
                      <textarea name="lokasi_mengajar" rows="8" style="width:90%;margin:10px;"></textarea>
                    
                  

              </div>
              <div class="modal-footer"><button type="submit" class="btn btn-success">Save</button> <a data-dismiss="modal" class="btn" href="#">Cancel</a> </div>
              </form>
            </div>            
<% include ./partials/footer %>