<% include ./partials/header %>
<div class="container-fluid">
    <div class="row-fluid">
      <div class="span12">
        <div class="widget-box">
              <div class="widget-title"> <span class="icon"><i class="icon-book"></i></span>
                <h5>Jadwal</h5>
                <a title="Tambah materi" href="#myAlert" data-toggle="modal" class="btn btn-success btn-mini" style="float:right;"><i class="icon-plus"></i> Tambah Jadwal</a>
              </div>
              <div class="widget-content nopadding">
                <table class="table table-bordered data-table">
                  <thead>
                    <tr>
                      <th>No. </th>
                      <th>Hari</th>
                      <th>Jam Mulai</th>
                      <th>Jam Selesai</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    <% 
                      var no = 1;
                      jadwal.forEach(function(data){ %>
                        <tr class="gradeX">
                          <td> <%= no %>
                          <td> <%= data.hari %></td>
                          <td> <%= data.jam_mulai %></td>
                          <td> <%= data.jam_selesai %></td>
                          <td>
                              <a class="btn btn-info btn-mini" href="#edit<%= no %>" data-toggle="modal" title="Edit"><i class="icon-pencil"> Ubah</i></a> 
                              <a class="btn btn-danger btn-mini" href="#deleteJadwal<%= no %>" data-toggle="modal" title="Delete"><i class="icon-remove"> Hapus</i></a>
                          </td>
                        </tr>
                    <% no++; }); %>
                  </tbody>
                </table>
              </div>
        </div>
    </div> 
   </div> 
</div>
<% 
  var hari = ['Senin', 'Selesa', 'Rabu', 'Kamis', 'Jumat', 'Sabtu', 'Minggu'];
%>
<div id="myAlert" class="modal hide">
              <div class="modal-header">
                <button data-dismiss="modal" class="close" type="button">×</button>
                <h3>Tambah Materi</h3>
              </div>
              <div class="modal-body">
                  <form action="/pengajar/jadwal/add" method="post"class="form-horizontal">

                  <div class="control-group">
                    <label for="checkboxes" class="control-label">Hari</label>
                    <div class="controls">
                      <select name="hari">
                      <% hari.forEach(function(hari){ %>
                          <option value="<%= hari %>"><%= hari %></option>
                        <% }); %>
                        
                        
                      </select>
                    </div>
                  </div>
                  <div class="control-group">
                    <label class="control-label">Jam Mulai</label>
                    <div class="controls">
                      <input type="text" id="jam_mulai" class="flatpickr form-flatpickr" name="jam_mulai"  placeholder="time" data-mindate="today" data-enabletime="true"  data-time_24hr="true" data-timeFormat="H:i">
                    </div>
                  </div>
                  <div class="control-group">
                    <label class="control-label">Jam Selesai</label>
                    <div class="controls">
                      <input type="text" id="jam_selesai" class="flatpickr form-flatpickr" name="jam_selesai"  placeholder="time" data-mindate="today" data-enabletime="true"  data-time_24hr="true" data-timeFormat="H:i">
                    </div>
                  </div>
                  
                
              </div>
              <div class="modal-footer"><button type="submit" class="btn btn-success">Save</button> <a data-dismiss="modal" class="btn" href="#">Cancel</a> </div>
              </form>
            </div>

        <% 
                      var no = 1;
                      jadwal.forEach(function(data){ %>
                  <div id="edit<%= no %>" class="modal hide">
                      <div class="modal-header">
                        <button data-dismiss="modal" class="close" type="button">×</button>
                        <h3>Tambah Materi</h3>
                      </div>
                      <div class="modal-body">
                          <form action="/pengajar/jadwal/edit/<%= data.id_jadwal %>" method="post"class="form-horizontal">

                          <div class="control-group">
                            <label for="checkboxes" class="control-label">Hari</label>
                            <div class="controls">
                              <select name="hari">
                                <% hari.forEach(function(hari){ %>
                                  <% if(data.hari === hari){ %>
                                    <option value="<%= hari %>" selected><%= hari %></option>
                                    <% }else{ %>
                                  <option value="<%= hari %>"><%= hari %></option>
                                  <% } %>
                                <% }); %>
                              </select>
                            </div>
                          </div>
                          <div class="control-group">
                            <label class="control-label">Jam Mulai</label>
                            <div class="controls">
                              <input type="text" id="test<%= no %>" class="flatpickr form-flatpickr" name="jam_mulai"  placeholder="time"   data-enabletime="true"  data-time_24hr="true" data-timeFormat="H:i" value="<%= data.jam_mulai %>">
                            </div>
                          </div>
                          <div class="control-group">
                            <label class="control-label">Jam Selesai</label>
                            <div class="controls">
                              <input type="text" id="test<%= no+1 %>" class="flatpickr form-flatpickr" name="jam_selesai" placeholder="time" data-mindate="today" data-enabletime="true"  data-time_24hr="true" data-timeFormat="H:i" value="<%= data.jam_selesai %>">
                            </div>
                          </div>
                          
                        
                      </div>
                      <div class="modal-footer"><button type="submit" class="btn btn-success">Save</button> <a data-dismiss="modal" class="btn" href="#">Cancel</a> </div>
                      </form>
                    </div>
                       <div id="deleteJadwal<%= no %>" class="modal hide">
                      <div class="modal-header">
                        <button data-dismiss="modal" class="close" type="button">×</button>
                        <h3>Hapus</h3>
                      </div>
                      <div class="modal-body">
                          <form action="/pengajar/jadwal/hapus/<%= data.id_jadwal %>" method="post" class="form-horizontal">

                          
                             <h2> Hapus Jadwal Hari <%= data.hari %> ? </h2>
                            
                          

                      </div>
                      <div class="modal-footer"><button type="submit" class="btn btn-danger">Hapus</button> <a data-dismiss="modal" class="btn" href="#">Cancel</a> </div>
                      </form>
                    </div>  
                    <% no++; }); %>
<% include ./partials/footer %>

<script type="text/javascript">
      for (var i = 1;i <= 200; i++) {
         flatpickr("#test"+i, {
           enableTime: true,
          noCalendar: true,

          enableSeconds: false, // disabled by default

          time_24hr: false, // AM/PM time picker is used by default

          // default format
          dateFormat: "H:i", 

          // initial values for time. don't use these to preload a date
          defaultHour: 12,
          defaultMinute: 0
         });
      }
       

        
 </script>  